@charset "UTF-8";
/* raleway-200 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("fonts/raleway-v22-latin-200.woff2") format("woff2"), url("fonts/raleway-v22-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/raleway-v22-latin-regular.woff2") format("woff2"), url("fonts/raleway-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/raleway-v22-latin-700.woff2") format("woff2"), url("fonts/raleway-v22-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("fonts/lato-v22-latin-300.woff2") format("woff2"), url("fonts/lato-v22-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/lato-v22-latin-regular.woff2") format("woff2"), url("fonts/lato-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/lato-v22-latin-700.woff2") format("woff2"), url("fonts/lato-v22-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* SCSS HEX */
h1 {
  font-family: "Raleway", "Trebuchet MS", "Avenir", "Segoe UI", sans‑serif;
  font-size: 3.2rem;
  font-weight: 200;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 2.5rem;
  }
}
h2 {
  font-family: "Raleway", "Trebuchet MS", "Avenir", "Segoe UI", sans‑serif;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

p,
li {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 0;
}

a {
  color: #7371fc;
  text-underline-offset: 3px;
}

a:hover {
  color: #272727;
}

.social-list {
  column-gap: 20px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  margin-top: 1.25rem;
  padding: 0;
}

@media (min-width: 768px) {
  .social-list {
    margin-top: 2rem;
  }
}
.social-list li a {
  line-height: 32px;
}

.social-list li svg {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
}

ul.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  margin-bottom: 48px;
  padding-left: 0;
}

ul.gallery li {
  width: 100%;
}

@media screen and (min-width: 501px) {
  ul.gallery {
    flex-direction: row;
  }
  ul.gallery li {
    max-width: 50%;
  }
}
ul.gallery li a .site-preview {
  background-position-y: 0%;
  background-size: 100%;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  height: 240px;
  margin-bottom: 8px;
  width: 100%;
  transition: background-position-y 8s ease;
}

ul.gallery li:hover a .site-preview {
  background-position-y: 100%;
}

.cms-icon .gallery__card--title::after {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 24px;
  margin-left: 15px;
  vertical-align: middle;
  width: 24px;
}

.cms-icon.wp-icon .gallery__card--title::after {
  background-image: url("../images/WordPress_logo.png");
}

.cms-icon.drupal-icon .gallery__card--title::after {
  background-image: url("../images/Drupal_logo.png");
}

.project {
  margin-right: -20px;
  margin-left: -20px;
  padding: 1.2rem 20px;
}
.project:nth-child(even) {
  background-color: #f5efff;
}

@media (min-width: 768px) {
  .project {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
body {
  color: #272727;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.subtitle {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.subtitle span {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 20px;
}

hr {
  background-color: #f5efff;
  border: 0;
  height: 5px;
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

figcaption {
  text-align: center;
}

iframe {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 20px;
}

.section-bio {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .section-bio {
    column-gap: 40px;
    flex-direction: row;
  }
}
.avatar-container {
  cursor: pointer;
  margin-top: 15px;
  position: relative;
}

@media (min-width: 768px) {
  .avatar-container {
    flex: 1;
  }
}
.avatar-container .avatar {
  border-radius: 8px;
  transition: filter 1s;
}

.glasses {
  animation-duration: 1s;
  animation-name: deal;
  display: none;
  position: absolute;
  width: 80%;
  top: 23%;
  left: 15%;
}

.deal-with-it .glasses {
  display: block;
}

.deal-with-it .avatar {
  filter: grayscale(100%);
}

@media (min-width: 768px) {
  .bio-container {
    flex: 2;
  }
}
@keyframes deal {
  from {
    top: 20%;
  }
  to {
    top: 23%;
  }
}

/*# sourceMappingURL=style.css.map */
