/* SCSS HEX */
$raisin-black: #272727ff;
$magnolia: #f5efffff;
$periwinkle: #cdc1ffff;
$tropical-indigo: #a594f9ff;
$medium-slate-blue: #7371fcff;

$primary-color: $medium-slate-blue;
$primary-color--light: $tropical-indigo;
$primary-color--xlight: $periwinkle;
$primary-color--2xlight: $magnolia;

$text-color: $raisin-black;
$link-color: $primary-color;
