ul.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  margin-bottom: 48px;
  padding-left: 0;
}

ul.gallery li {
  width: 100%;
}

@media screen and (min-width: 501px) {
  ul.gallery {
    flex-direction: row;
  }

  ul.gallery li {
    max-width: 50%;
  }
}

ul.gallery li a .site-preview {
  background-position-y: 0%;
  background-size: 100%;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  height: 240px;
  margin-bottom: 8px;
  width: 100%;

  transition: background-position-y 8s ease;
}

ul.gallery li:hover a .site-preview {
  background-position-y: 100%;
}

.cms-icon .gallery__card--title::after {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 24px;
  margin-left: 15px;
  vertical-align: middle;
  width: 24px;
}

.cms-icon.wp-icon .gallery__card--title::after {
  background-image: url("../images/WordPress_logo.png");
}

.cms-icon.drupal-icon .gallery__card--title::after {
  background-image: url("../images/Drupal_logo.png");
}
