@use "fonts";
@use "colors" as c;
@use "type";
@use "social";
@use "projects";

$wrapper-width: 768px;

body {
  color: c.$text-color;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.subtitle {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 20px;
}

hr {
  background-color: c.$magnolia;
  border: 0;
  height: 5px;
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

figcaption {
  text-align: center;
}

iframe {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper-width;
  padding: 0 20px;
}

.section-bio {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .section-bio {
    column-gap: 40px;
    flex-direction: row;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background: c.$primary-color--2xlight;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid c.$primary-color--xlight;
  }
}

.avatar-container {
  margin-top: 15px;
  position: relative;
}

@media (min-width: 768px) {
  .avatar-container {
    flex: 1;
  }
}

.avatar-container .avatar {
  border-radius: 8px;
  transition: filter 1s;
}

@media (min-width: 768px) {
  .bio-container {
    flex: 2;
  }
}
