/* raleway-200 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('fonts/raleway-v22-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/raleway-v22-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/raleway-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/raleway-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('fonts/lato-v22-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/lato-v22-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/lato-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/lato-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --primary-text-color: dodgerblue;
  --primary-text-color-dark: #1967b3;
  --standard-text-color: #666;
  --wide: 600px;
  --narrow: 300px;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: var(--primary-text-color);
  font-family: "Raleway", "Trebuchet MS", "Avenir", "Segoe UI", sans‑serif;
  font-size: 3.2em;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-family: "Raleway", "Trebuchet MS", "Avenir", "Segoe UI", sans‑serif;
  font-size: 1.17em;
}

h3 {
  font-size: .95em;
  font-weight: 400;
}

h3 span {
  font-style: italic;
  font-weight: normal;
}

h4 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 30px;
}

p, li {
  color: var(--standard-text-color);
  font-size: .95em;
  line-height: 1.6em;
}

a,
a:visited {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--primary-text-color-dark);
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--wide);
  padding: 0 15px;
}



.avatar-container {
  cursor: pointer;
  margin: 15px 0;
  max-width: var(--narrow);
  position: relative;
}

@media only screen and (min-width: 601px) {

  .section-bio {
    display: grid;
    gap: 15px;
    grid-template-areas: "a a b b b b";
    grid-template-columns: repeat(6, 1fr);
  }

}

.avatar-container #avatar {
  border-radius: 4px;
  transition: filter 1s;
}

.avatar-container #deal-with-it { 
  animation-duration: 1s;
  animation-name: deal;
  position: absolute;
  width: 80%;
  
  top: 23%;
  left: 15%;
}

@keyframes deal {
  from {
    top: 20%;
  }

  to {
    top: 23%;
  }
}

ul#social-list {
  column-gap: 20px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

ul#social-list li {
  margin-bottom: 15px;
}

ul#social-list li a {
  line-height: 32px;
  text-decoration: none;
}

ul#social-list li a:visited {
  color: var(--standard-text-color);
}

ul#social-list li a:hover,
ul#social-list li a:active,
ul#social-list li a:focus {
  color: var(--primary-text-color);
  font-weight: bold;
}

ul#social-list li a:hover svg *,
ul#social-list li a:active svg *,
ul#social-list li a:focus svg * {
  fill: var(--primary-text-color);
}

ul#social-list li svg {
  vertical-align: middle;
  width: 32px;
}


ul.portfolio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  margin-bottom: 48px;
  padding-left: 0;
}

ul.portfolio li {
  width: 100%;
}

@media screen and (min-width: 501px) {
  ul.portfolio {
    flex-direction: row;
  }

  ul.portfolio li {
    max-width: 50%;
  }
}

ul.portfolio li a .site-preview {
  background-position-y: 0%;
  background-size: 100%;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  height: 240px;
  margin-bottom: 8px;
  width: 100%;
  
  transition:background-position-y 8s ease;
}

ul.portfolio li:hover a .site-preview {
  background-position-y: 100%;
}

.cms-icon::after {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 24px;
  margin-left: 15px;
  vertical-align: middle;
  width: 24px;
}

.cms-icon.wp-icon::after {
  background-image: url('images/WordPress_logo.png');
}

.cms-icon.drupal-icon::after {
  background-image: url('images/Drupal_logo.png');
}