/* raleway-200 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("fonts/raleway-v22-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/raleway-v22-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/raleway-v22-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/raleway-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/raleway-v22-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/raleway-v22-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("fonts/lato-v22-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/lato-v22-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/lato-v22-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/lato-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/lato-v22-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/lato-v22-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --primary-text-color: dodgerblue;
  --primary-text-color-dark: #1967b3;
  --standard-text-color: #666;
  --wide: 600px;
  --narrow: 300px;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: var(--primary-text-color);
  font-family: "Raleway", "Trebuchet MS", "Avenir", "Segoe UI", sans‑serif;
  font-size: 3.2rem;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-family: "Raleway", "Trebuchet MS", "Avenir", "Segoe UI", sans‑serif;
  font-size: 1.17rem;
}

h3 {
  font-size: 0.95rem;
  font-weight: 400;
}

p,
li {
  color: var(--standard-text-color);
  font-size: 0.95rem;
  line-height: 1.6rem;
}

a,
a:visited {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--primary-text-color-dark);
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
}

iframe {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--wide);
  padding: 0 15px;
}

.section-bio {
  display: flex;
  flex-direction: column;
}

/* @media screen and (min-width: 501px) {
  .section-bio {
    flex-direction: row;
  }
} */

.avatar-container {
  cursor: pointer;
  margin-top: 15px;
  max-width: var(--narrow);
  position: relative;
}

.avatar-container .avatar {
  border-radius: 8px;
  transition: filter 1s;
}

.glasses {
  animation-duration: 1s;
  animation-name: deal;
  display: none;
  position: absolute;
  width: 80%;

  top: 23%;
  left: 15%;
}

.deal-with-it .glasses {
  display: block;
}

.deal-with-it .avatar {
  filter: grayscale(100%);
}

@keyframes deal {
  from {
    top: 20%;
  }

  to {
    top: 23%;
  }
}

.social-list {
  column-gap: 20px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.social-list li {
  margin-bottom: 15px;
}

.social-list li a {
  line-height: 32px;
  text-decoration: none;
}

.social-list li a:visited {
  color: var(--standard-text-color);
}

.social-list li a:hover,
.social-list li a:active,
.social-list li a:focus {
  color: var(--primary-text-color);
}

.social-list li a:hover svg *,
.social-list li a:active svg *,
.social-list li a:focus svg * {
  fill: var(--primary-text-color);
}

.social-list li svg {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
}

ul.portfolio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  margin-bottom: 48px;
  padding-left: 0;
}

ul.portfolio li {
  width: 100%;
}

@media screen and (min-width: 501px) {
  ul.portfolio {
    flex-direction: row;
  }

  ul.portfolio li {
    max-width: 50%;
  }
}

ul.portfolio li a .site-preview {
  background-position-y: 0%;
  background-size: 100%;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  height: 240px;
  margin-bottom: 8px;
  width: 100%;

  transition: background-position-y 8s ease;
}

ul.portfolio li:hover a .site-preview {
  background-position-y: 100%;
}

.cms-icon .portfolio__card--title::after {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 24px;
  margin-left: 15px;
  vertical-align: middle;
  width: 24px;
}

.cms-icon.wp-icon .portfolio__card--title::after {
  background-image: url("images/WordPress_logo.png");
}

.cms-icon.drupal-icon .portfolio__card--title::after {
  background-image: url("images/Drupal_logo.png");
}
